{% extends 'login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <body class="text-center">
    <form method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <h1 class="">Business Finder</h1><br>
        <p>Please login to access the system</p>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="input" value="{{ last_username }}" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Password">


        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button><br>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    </form>
    </body>
{% endblock %}
